.ipynb_checkpoints
*/.ipynb_checkpoints/*
__pycache__
*/__pycache__/*
*==[0-9]*==.ipynb
stderr.txt
stdout.txt
fidle/log/finished.json
run/
figs/
data/
GTSRB/data
IMDB/data
MNIST/data
SYNOP/data
VAE/data
BHPD/data
AE/data
