.ipynb_checkpoints
*/.ipynb_checkpoints/*
__pycache__
*/__pycache__/*
*==*==.ipynb
stderr.txt
stdout.txt
fidle/log/finished.json
run/
figs/
data/
GTSRB/data
GTSRB/05-full_convolutions.py
IMDB/data
MNIST/data
SYNOP/data
VAE/data
BHPD/data
AE/data
